.footer {
  height: $footer-height;

  ul {
    display: flex;
    li {
      width: 20%;
      height: $footer-height;
      padding-top: 10px;
      display: flex;
      justify-content: space-around;

      a {
        height: min-content;
        display: flex;
        justify-content: center;
        flex-direction: column;

        :first-child {
          margin: auto;
        }        
      }
    }
  }
  &-button {
    width: 60%;
    height: min-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    
  }
}