.main {
  height: calc(100% - #{$footer-height});
}
.day-header {
  height: 25px;
  display: flex;
  margin-bottom: 3px;
  &__week {
    width: calc(100% / 3);
  }
  &__name-wrapper {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    .main-date__prev-btn {
      padding: 0px;
    }
  }
  &__name {
    width: 60%;
    text-align: center;  
  }
  &__date-wrapper {
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-end;
  }
  /*__date {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #17a2b8;;
  }
  */
}

.task {
  margin-bottom: 6px;
  border: 1px solid #17a2b8;
  border-radius: .25rem;
  &__task-main {
    padding-left: 3px;
    display: flex; 
  }
  &__task-date-type {
    width: 5%;
  }
  &__task-date {
    width: 10%;
  }
  &__task-header {
    width: 64%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__task-type {
    width: 5%;
    text-align: center;
  }

  &__task-edit-button {
    width: 8%;
    text-align: center;
  }
  &__task-deleat-button {
    width: 8%;
    text-align: center;
  }
  &__task-details {
    padding-left: 3px;
    border-top: 1px solid #17a2b8;
    overflow: auto;
  }
}

.background--grey {
  background-color: #f4f4f4; 
}

.background--green {
  background-color: #e5ffea; 
}