.main {
  height: calc(100% - #{$footer-height});
}
.day-header {
  height: 4vw;
  display: flex;
  margin-bottom: 3px;
  &__week {
    width: calc(100% / 3);
  }
  &__name {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__date-wrapper {
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
  }
  &__date {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
  }
  &__date-logo{
    margin: auto 1vw;
  }
}

.task {
  margin-bottom: 6px;
  border: 1px solid black;
  &__task-main {
    padding-left: 3px;
    display: flex; 
  }
  &__task-date-type {
    width: 5%;
  }
  &__task-date {
    width: 10%;
  }
  &__task-header {
    width: 70%
  }
  &__task-type {
    width: 5%;
    text-align: center;
  }
  &__task-edit-button {
    width: 5%;
    text-align: center;
  }
  &__task-deleat-button {
    width: 5%;
    text-align: center;
  }
  &__task-details {
    padding-left: 3px;
    border-top: 1px solid gray; 
  }
}

