.main {
  @include breakpoint(tablet) {
    .day-header__date-logo, .task {
      font-size: $base-font-size;
    }
  }
  @include breakpoint(laptop) {
    float: left;
    width: calc(100% -  #{$sidebar-width});
    height: 100%;
	}
}

.footer {
  @include breakpoint(laptop) {
    float: left;
    width: $sidebar-width;
    height: 100%;

    ul {
      flex-direction: column;
      li{
        width: 100%;   
      }
    }
	}
}