$x-large: 'min-width: 1371px';
$large: 'min-width: 1201px';
$medium: 'min-width: 721px';
$small: 'max-width: 720px';

@mixin breakpoint($point) {
  @if $point == desktop {
    @media ($x-large) { @content ; }
  }
  @else if $point == laptop {
    @media ($large) { @content ; }
  }
  @else if $point == tablet {
    @media ($medium) { @content ; }
  }
  @else if $point == mobile {
    @media ($small) { @content ; }
  }
}