* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: 78829d; }

.ap-wrapper {
  margin: auto;
  height: 100vh;
  padding: 0.5vw;
  font-size: 3vw; }
  @media (min-width: 721px) {
    .ap-wrapper {
      font-size: 16px; } }
  @media (min-width: 1201px) {
    .ap-wrapper {
      width: 800px; } }

.hidden {
  display: none; }

.main {
  height: calc(100% - 65px); }

.day-header {
  height: 25px;
  display: flex;
  margin-bottom: 3px;
  /*__date {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #17a2b8;;
  }
  */ }
  .day-header__week {
    width: calc(100% / 3); }
  .day-header__name-wrapper {
    width: calc(100% / 3);
    display: flex;
    justify-content: center; }
  .day-header__name {
    width: 60%;
    text-align: center; }
  .day-header__date-wrapper {
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-end; }

.task {
  margin-bottom: 6px;
  border: 1px solid black; }
  .task__task-main {
    padding-left: 3px;
    display: flex; }
  .task__task-date-type {
    width: 5%; }
  .task__task-date {
    width: 10%; }
  .task__task-header {
    width: 70%; }
  .task__task-type {
    width: 5%;
    text-align: center; }
  .task__task-edit-button {
    width: 5%;
    text-align: center; }
  .task__task-deleat-button {
    width: 5%;
    text-align: center; }
  .task__task-details {
    padding-left: 3px;
    border-top: 1px solid gray; }

.task-edit__top-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw; }

.task-edit__type-case {
  width: 8%; }

.task-edit__task-header {
  width: 100%; }

.task-edit__task-details {
  width: 100%;
  margin-bottom: 2vw; }

.task-edit__buttons-wrapper {
  display: flex;
  justify-content: space-around; }

.task-edit__button-save {
  border: 1px solid black;
  width: 50px; }

.footer {
  height: 65px; }
  .footer ul {
    display: flex; }
    .footer ul li {
      width: 20%;
      height: 65px;
      padding-top: 10px;
      display: flex;
      justify-content: space-around; }
      .footer ul li a {
        height: min-content;
        display: flex;
        justify-content: center;
        flex-direction: column; }
        .footer ul li a :first-child {
          margin: auto; }
  .footer-button {
    width: 60%;
    height: min-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .footer-button :first-child {
      margin: auto; }

@media (min-width: 721px) {
  .main .task {
    font-size: 16px; } }

@media (min-width: 1201px) {
  .main {
    float: left;
    width: calc(100% -  120px);
    height: 100%; } }

@media (min-width: 1201px) {
  .footer {
    float: left;
    width: 120px;
    height: 100%; }
    .footer ul {
      flex-direction: column; }
      .footer ul li {
        width: 100%; } }
